*{
  /* width: 100%;
  height: 98.5%;
  background: #151418;
  background: linear-gradient(100deg, #242329 30%, #151418 20%); */
  padding: 0;
  margin: 0;
 box-sizing: border-box;
}
/* .app{
  height: 100vh;
} */